@model ReplaceAsset.Models.ComponentAssetReplacement

@{
    ViewData["Title"] = "Details Component Asset Replacement";
}

<div class="row gutters justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card">
            <div class="card-header text-center border-bottom">
                <h2 class="card-title font-weight-bold">Component Asset Replacement Details</h2>
            </div>
            <hr class="m-0" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Requestor</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.Name" readonly>
                        </div>
                        <div class="form-group">
                            <label>Department</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.Departement" readonly>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.Type" readonly>
                        </div>
                        <div class="form-group">
                            <label>Serial Number</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.SerialNumber" readonly>
                        </div>
                        
                        <div class="form-group">
                            <label>Justify</label>
                            <textarea class="form-control" rows="3" readonly>@Model.AssetRequest.Justify</textarea>
                        </div>
                        <div class="form-group text-center">
                            <label>Usage Location</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.UsageLocation" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Baseline</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.Baseline" readonly>
                        </div>
                        <div class="form-group">
                            <label>Validation Replace</label>
                            <input type="text" class="form-control" value="@Model.ValidationReplace" readonly>
                        </div>
                        <div class="form-group">
                            <label>Component Replace Date</label>
                            <input type="text" class="form-control" value="@Model.ComponentReplaceDate" readonly>
                        </div>
                        <div class="form-group">
                            <label>Approval Date</label>
                            <input type="text" class="form-control" value="@Model.AssetRequest.ApprovalDate" readonly>
                        </div>
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" rows="3" readonly>@Model.AssetRequest.Reason</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</div>
