@{
    ViewData["Title"] = "Component Asset Replacements";
}

<link href="~/vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/vendor/bootstrap-table/bootstrap-table-sticky-header.css" rel="stylesheet" />

<div class="row gutters mt-4">
    <div class="card">
        <div class="card-header text-center" style="font-size: 1.25rem;">Component Asset Replacement</div>
        <hr class="m-0" />
        <div class="card-body">
            <!-- Breadcrumb -->
            <partial name="_Breadcrumb" />
            <!-- Toolbar -->
            <table id="table"
                   data-toggle="table"
                   data-locale="en-US"
                   data-sticky-header="true"
                   data-sticky-header-offset-y="60"
                   data-search="true"
                   data-toolbar="#toolbar"
                   data-search-highlight="true"
                   data-search-align="right"
                   data-show-toggle="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-buttons="[]"
                   data-key-events="true"
                   data-url="@Url.Action("GetData", "ComponentAssetReplacements")"
                   data-pagination="true"
                   data-show-columns-toggle-all="true"
                   data-pagination-loop="false"
                   data-pagination-pre-text="Previous"
                   data-pagination-next-text="Next"
                   data-page-size="50"
                   data-filter-control="true">
                <thead>
                    <tr>
                        <th data-field="assetRequestName" data-sortable="true" data-width="200">Requestor</th>
                        <th data-field="assetRequestDepartment" data-sortable="true" data-width="150">Department</th>
                        <th data-field="assetRequestType" data-sortable="true" data-width="100">Type</th>
                        <th data-field="assetRequestSerialNumber" data-sortable="true" data-width="150">Serial Number</th>
                        <th data-field="assetRequestBaseline" data-sortable="true" data-width="150">Baseline</th>
                        <th data-field="assetRequestUsageLocation" data-sortable="true" data-width="150">Usage Location</th>
                        <th data-field="assetRequestReason" data-sortable="true" data-width="300">Reason</th>
                        <th data-field="assetRequestJustify" data-sortable="true" data-width="200">Justify</th>
                        <th data-field="assetRequestTypeReplace" data-sortable="true" data-width="200">Type Replace</th>
                        <th data-field="assetRequestApprovalDate" data-sortable="true" data-width="150">Approval Date</th>
                        <th data-field="validationReplace" data-sortable="true" data-formatter="statusFormatter" class="text-center" data-width="150">Validation Replace</th>
                        <th data-field="componentReplaceDate" data-sortable="true" data-width="150">Component Replace Date</th>
                        @if (User.IsInRole("UserManagerIT") || User.IsInRole("UserIntern"))
                        {
                            <th data-formatter="userFormatter" class="text-center no-space-three text-nowrap" data-width="100">Actions</th>
                        }
                        @if (User.IsInRole("UserAdmin"))
                        {
                            <th data-formatter="adminFormatter" class="text-center no-space-three text-nowrap" data-width="100">Actions</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Modal Update Component Asset Replacement -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Component Replacement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateForm">
                    <input type="hidden" id="updateId" name="id" />
                    <div class="mb-3">
                        <label for="updateComponentReplaceDate" class="form-label">Component Replace Date</label>
                        <input type="datetime-local" class="form-control" id="updateComponentReplaceDate" name="componentReplaceDate" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="doneReplacedBtn">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-sticky-header.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-filter-control.min.js"></script>
    <script src="~/vendor/notyf/notyf.min.js"></script>
    <link href="~/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/vendor/moment/moment.min.js"></script>
    <script src="~/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script>


        var notyf = new Notyf({
            position: { x: 'center', y: 'top' },
            duration: 8000, // Durasi 5 detik
            dismissible: true,
            types: [
                { type: 'success', background: 'green', icon: false },
                { type: 'error', background: 'red', icon: false }
            ]
        });

        function userFormatter(value, row, index) {
            var detailsBtn = '<button type="button" class="btn btn-sm btn-dark" onclick="showDetails(' + row.id + ')">Details</button>';
            var updateBtn = '<button type="button" class="btn btn-sm btn-info" onclick="showUpdateModal(' + row.id + ')">Update</button>';
            return detailsBtn + ' ' + updateBtn;
        }

        function adminFormatter(value, row, index) {
            var detailsBtn = '<button type="button" class="btn btn-sm btn-dark" onclick="showDetails(' + row.id + ')">Details</button>';
            var updateBtn = '<button type="button" class="btn btn-sm btn-info" onclick="showUpdateModal(' + row.id + ')">Update</button>';
            var deleteUrl = '@Url.Action("Delete", "ComponentAssetReplacements")' + '/' + row.id;
            var deleteBtn = '<button class="btn btn-sm btn-danger" onclick="deleteComponentAssetReplacements(' + row.id + ')">Delete</button>';
            return detailsBtn + ' ' + updateBtn + ' ' + deleteBtn;
        }

        function deleteComponentAssetReplacements(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "ComponentAssetReplacements")' + '/' + id,
                        type: 'POST',
                        success: function (result) {
                            if (result.success) {
                                Swal.fire(
                                    'Deleted!',
                                    result.message,
                                    'success'
                                );
                                $('#table').bootstrapTable('refresh');
                            } else {
                                Swal.fire(
                                    'Error!',
                                    result.message,
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        }

        function statusFormatter(value) {
            if (value) {
                return '<span class="badge rounded-pill badge-success">Done Replaced</span>';
            } else {
                return '<span class="badge rounded-pill badge-warning">Pending</span>';
            }
        }

        function showUpdateModal(id) {
            var row = $('#table').bootstrapTable('getRowByUniqueId', id);
            var componentReplaceDate = row ? row.componentReplaceDate : null;

            $('#updateId').val(id);
            if (componentReplaceDate) {
                $('#updateComponentReplaceDate').val(componentReplaceDate.substring(0, 16));
            } else {
                $('#updateComponentReplaceDate').val('');
            }
            $('#updateModal').modal('show');
        }

        function showDetails(id) {
            window.location.href = '@Url.Action("Details", "ComponentAssetReplacements")/' + id;
        }

        $('#doneReplacedBtn').click(function () {
            $.ajax({
                url: '@Url.Action("UpdateComponentReplacement", "ComponentAssetReplacements")',
                data: $('#updateForm').serialize(),
                type: 'POST',
                success: function (result) {
                    $('#updateModal').modal('hide');
                    if (result.success) {
                        $('#table').bootstrapTable('refresh');
                        notyf.success('Component replacement has been updated successfully.');
                    } else {
                        notyf.error(result.message);
                    }
                },
                error: function (xhr, status, error) {
                    $('#updateModal').modal('hide');
                    notyf.error('Error occurred: ' + xhr.responseText);
                }
            });
        });
    </script>
}
