@{
    ViewData["Title"] = "Asset Scraps";
}

<link href="~/vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/vendor/bootstrap-table/bootstrap-table-sticky-header.css" rel="stylesheet" />
@* 
<style>

</style> *@
<div class="row gutters mt-4">
    <div class="card">
        <div class="card-header text-center" style="font-size: 1.00rem;">Asset Scrap Form</div>
        <hr class="m-0" />
        <div class="card-body">
            <!-- Breadcrumb -->
            <partial name="_Breadcrumb" />
            <!-- Toolbar -->
            <div id="toolbar">
                <div class="btn-group me-2">
                    @if (User.IsInRole("UserAdmin") || User.IsInRole("UserIntern"))
                    {
                        <a class="btn btn-primary" asp-action="Create">Add New Data Scrap</a>
                    }
                </div>
            </div>
            <table id="table"
                   data-toggle="table"
                   data-locale="en-US"
                   data-sticky-header="true"
                   data-sticky-header-offset-y="60"
                   data-search="true"
                   data-toolbar="#toolbar"
                   data-search-highlight="true"
                   data-search-align="right"
                   data-show-toggle="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-buttons="[]"
                   data-key-events="true"
                   data-url="@Url.Action("GetData", "AssetScraps")"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-show-columns-toggle-all="true"
                   data-pagination-loop="false"
                   data-pagination-pre-text="Previous"
                   data-pagination-next-text="Next"
                   data-page-size="50">
                <thead>
                    <tr>
                        <th data-field="type" data-sortable="true" data-width="100">Type</th>
                        <th data-field="serialNumber" data-sortable="true" data-width="150">Serial Number</th>
                        <th data-field="location" data-sortable="true" data-width="150">Location</th>
                        <th data-field="dateInput" data-sortable="true" data-width="150">Date Input</th>
                        <th data-field="validationScrap" data-sortable="true" data-formatter="statusFormatter" class="text-center" data-width="150">Validation Scrap</th>
                        <th data-formatter="actionFormatter" class="text-center no-space-three text-nowrap" data-width="100">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-sticky-header.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-filter-control.min.js"></script>
    <script src="~/vendor/notyf/notyf.min.js"></script>

    <script>
        function statusFormatter(value, row) {
            if (value) {
                return '<span class="badge rounded-pill text-bg-success">Done Scrap</span>';
            } else {
                return '<span class="badge rounded-pill text-bg-secondary">Pending</span>';
            }
        }
        // Tetapkan variabel di sini untuk menentukan peran pengguna
        var isAdminOrIntern = @Html.Raw(Json.Serialize(User.IsInRole("UserAdmin") || User.IsInRole("UserIntern")));
        var isManagerIT = @Html.Raw(Json.Serialize(User.IsInRole("UserManagerIT")));
        var isEmployee = @Html.Raw(Json.Serialize(User.IsInRole("UserEmployee")));

        function actionFormatter(value, row, index) {
            var editUrl = '@Url.Action("Edit", "AssetScraps")' + '/' + row.id;
            var deleteUrl = '@Url.Action("Delete", "AssetScraps")' + '/' + row.id;
            var detailsUrl = '@Url.Action("Details", "AssetScraps")' + '/' + row.id;

            var editBtn = '<a href="' + editUrl + '" class="btn btn-sm btn-primary">Edit</a>';
            var deleteBtn = '<button class="btn btn-sm btn-danger" onclick="confirmDelete(' + row.id + ')">Delete</button>';
            var detailsBtn = '<a href="' + detailsUrl + '" class="btn btn-sm btn-info">Details</a>';

            if (isAdminOrIntern) {
                return detailsBtn + ' ' + editBtn + ' ' + deleteBtn;
            } else if (isManagerIT) {
                return detailsBtn + ' ' + deleteBtn;
            }
            return detailsBtn;
        }
        function confirmDelete(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Delete", "AssetScraps")' + '/' + id + '?handler=Delete';
                }
            });
        }

        var notyf = new Notyf({
            position: {
                x: 'center',
                y: 'top',
            },
            duration: 3000,
            dismissible: true,
            types: [
                {
                    type: 'success',
                    background: 'green',
                    icon: false
                },
                {
                    type: 'error',
                    background: 'red',
                    icon: false
                }
            ]
        });
    </script>
}
